/* (Stackoverflow, 2019) */
#dropdown-position {
    position:relative;
}

table, th, td {
    border:solid;
    padding:10px;
}

#table-container {
    padding:30px;
}


/* For data visualisations (Medium, 2020) */
#numpages {
    margin-left:1%;
    width:45%;
    background-color:white;
    color:black;
    float:left;
}

#averagerating {
    margin-right:1%;
    width:45%;
    background-color:white;
    color:black;
    float:right;
}